body {
  padding-top: 50px;
}

.container-block {
  padding-top: 64px;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.btn-group > .btn {
  width: 90%;
  text-align: left;
}

.btn-group > .btn + .dropdown-toggle {
  width: 10%;
}